pre>code {
    display:block;
    padding: 1em;
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-size:1.1em;
}

// 多行注释
.hl-js-1{
    color:#66DD66;
}
// 单行注释
.hl-js-2{
    color:#66DD66;
}
// 正则表达式
.hl-js-3{
    color:#E36165;
}
// 双引号
.hl-js-4{
    color:#DA8E73;
}
// 单引号
.hl-js-5{
    color:#DA8E73;
}
// 反引号
.hl-js-6{
    color:#DA8E73;
}
// 其他代码
.hl-js-7{
    color:#D4D4D4;
}