.language-js {
    display:block;
    background-color: #1E1E1E;
    padding: 1em;
    font-size: 1.1em;
    .book-hl-comment{
        color:#66DD66;
    }
    .book-hl-dot{
        color:#D4D4D4;
    }
}